### Editor ###
.vscode/
.ionide/
.history/
.idea/
.vs/

### Build ###
[Bb]uild/
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Xx]86/
[Xx]64/
[Pp]ublish/
*.exe
*.dll
*.msi
*.pfx
*.user
*.aps
!**/3rdparty/*.exe

### Temp ###
Office UI Help Files/
office-ms-customui.xsd
*.bak
*.pwd
*.rar
*.zip
