<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?define TargetDir=$(var.PowerPointArrangeAddin.TargetDir)?>

    <!-- Define product and features -->
    <Product Id="*" Name="PowerPointArrangeAddinInstaller" Language="1033" Version="1.0.0.0" Manufacturer="AoiHosizora" UpgradeCode="d827c61a-646d-4dfa-97c5-44d2da6cbf01">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate />

        <Feature Id="ProductFeature" Title="PowerPointArrangeAddinInstaller" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
            <ComponentGroupRef Id="zh_Hant_files" />
            <ComponentGroupRef Id="zh_Hans_files" />
            <ComponentGroupRef Id="ja_files" />
        </Feature>

        <UIRef Id="WixUI_Minimal" />
    </Product>

    <!-- Define directories -->
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="PowerPointArrangeAddinInstaller">
                    <Directory Id="zh_Hans" Name="zh-Hans" />
                    <Directory Id="zh_Hant" Name="zh-Hant" />
                    <Directory Id="ja" Name="ja" />
                </Directory>
            </Directory>
        </Directory>
    </Fragment>

    <!-- <INSTALLFOLDER> -->
    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="PowerPointArrangeAddin.dll" Guid="dbe3e9fc-e938-4951-b418-3706bcd129d7">
                <File Id="PowerPointArrangeAddin.dll" Name="PowerPointArrangeAddin.dll" Source="$(var.TargetDir)PowerPointArrangeAddin.dll" />
            </Component>
            <Component Id="PowerPointArrangeAddin.dll.config" Guid="483e90b2-8ff4-4e26-837c-3cfd5a4bcdf9">
                <File Id="PowerPointArrangeAddin.dll.config" Name="PowerPointArrangeAddin.dll.config" Source="$(var.TargetDir)PowerPointArrangeAddin.dll.config" />
            </Component>
            <Component Id="PowerPointArrangeAddin.dll.manifest" Guid="8884a1bc-a9bb-4acd-9d40-40b560f3cc23">
                <File Id="PowerPointArrangeAddin.dll.manifest" Name="PowerPointArrangeAddin.dll.manifest" Source="$(var.TargetDir)PowerPointArrangeAddin.dll.manifest" />
            </Component>
            <Component Id="PowerPointArrangeAddin.vsto" Guid="a442b64e-e40c-4563-9d1e-d328ae1ef864">
                <File Id="PowerPointArrangeAddin.vsto" Name="PowerPointArrangeAddin.vsto" Source="$(var.TargetDir)PowerPointArrangeAddin.vsto" />
            </Component>
            <Component Id="Microsoft.Office.Tools.Common.v4.0.Utilities.dll" Guid="f0d30cc9-24ad-43de-b7b7-bdc504adf44f">
                <File Id="Microsoft.Office.Tools.Common.v4.0.Utilities.dll" Name="Microsoft.Office.Tools.Common.v4.0.Utilities.dll" Source="$(var.TargetDir)Microsoft.Office.Tools.Common.v4.0.Utilities.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>

    <!-- zh_Hans -->
    <Fragment>
        <ComponentGroup Id="zh_Hans_files" Directory="zh_Hans">
            <Component Id="zh_Hans_PowerPointArrangeAddin.resources.dll" Guid="6d846590-6d77-4d2a-a918-c2f8adce1511">
                <File Id="zh_Hans_PowerPointArrangeAddin.resources.dll" Name="PowerPointArrangeAddin.resources.dll" Source="$(var.TargetDir)zh-Hans\PowerPointArrangeAddin.resources.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>

    <!-- zh_Hant -->
    <Fragment>
        <ComponentGroup Id="zh_Hant_files" Directory="zh_Hant">
            <Component Id="zh_Hant_PowerPointArrangeAddin.resources.dll" Guid="eb70141e-d0ad-417d-a942-af36563c211b">
                <File Id="zh_Hant_PowerPointArrangeAddin.resources.dll" Name="PowerPointArrangeAddin.resources.dll" Source="$(var.TargetDir)zh-Hant\PowerPointArrangeAddin.resources.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>

    <!-- ja -->
    <Fragment>
        <ComponentGroup Id="ja_files" Directory="ja">
            <Component Id="ja_PowerPointArrangeAddin.resources.dll" Guid="d2b22159-b573-4e96-a084-b7817096eadf">
                <File Id="ja_PowerPointArrangeAddin.resources.dll" Name="PowerPointArrangeAddin.resources.dll" Source="$(var.TargetDir)ja\PowerPointArrangeAddin.resources.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>

</Wix>
