<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PowerPointArrangeAddin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PowerPointArrangeAddin.Properties.Settings>
            <setting name="showWordArtGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showArrangementGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showReplacePictureGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showShapeTextboxGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showShapeSizeAndPositionGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showPictureSizeAndPositionGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="showVideoSizeAndPositionGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showAudioSizeAndPositionGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showTableSizeAndPositionGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showChartSizeAndPositionGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showSmartArtSizeAndPositionGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lessButtonsForArrangementGroup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showSizeAndPositionGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hideMarginSettingForTextboxGroup" serializeAs="String">
                <value>False</value>
            </setting>
        </PowerPointArrangeAddin.Properties.Settings>
    </userSettings>
</configuration>