<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <?define Addin_TargetDir=$(var.PowerPointArrangeAddin.TargetDir)?>
    <?define Action_TargetDir=$(var.PowerPointArrangeAddinInstallerAction.TargetDir)?>

    <!-- Define product and package -->
    <Product Id="*" Name="!(loc.FriendlyName) v1.0.1" Language="1033" Version="1.0.1" Manufacturer="!(loc.Manufacturer)" UpgradeCode="d827c61a-646d-4dfa-97c5-44d2da6cbf01">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <!-- Define package features -->
        <Feature Id="ProductFeature" Title="!(loc.ShortName)" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
            <ComponentGroupRef Id="ja_files" />
            <ComponentGroupRef Id="zh_Hant_files" />
            <ComponentGroupRef Id="zh_Hans_files" />
            <ComponentRef Id="ProductRegistryItems" />
            <ComponentRef Id="ProductMenuShortcuts" />
        </Feature>

        <!-- Check .NET Framework version -->
        <PropertyRef Id="WIX_IS_NETFRAMEWORK_48_OR_LATER_INSTALLED" />
        <Condition Message="!(loc.NetFrameworkConditionText)">
            Installed OR WIX_IS_NETFRAMEWORK_48_OR_LATER_INSTALLED
        </Condition>

        <!-- Define properties -->
        <Property Id="ARPHELPLINK" Value="https://github.com/Aoi-hosizora/PowerPointArrangeAddin" />
        <Property Id="ARPURLINFOABOUT" Value="https://github.com/Aoi-hosizora" />
        <Property Id="ARPURLUPDATEINFO" Value="https://github.com/Aoi-hosizora/PowerPointArrangeAddin/releases" />
        <Property Id="ARPCOMMENTS" Value="!(loc.ShortName)" />

        <!-- Define variables -->
        <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />

        <!-- Define UI elements -->
        <UI>
            <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
            <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="!(loc.ExitDialogText)" />
            <Property Id="UI_CREATESHORTCUT" Value="1" Secure="yes" />
            <Property Id="UI_COPYINSTALLER" Value="1" Secure="yes" />
            <UIRef Id="Custom_InstallDir" />
        </UI>

        <!-- Define custom actions -->
        <Binary Id="PowerPointArrangeAddinInstallerActionDll" SourceFile="$(var.Action_TargetDir)PowerPointArrangeAddinInstallerAction.CA.dll" />
        <CustomAction Id="RegisterAddInCustomAction_SetValue" Property="RegisterAddInCustomAction" Value="InstallFolder=[INSTALLFOLDER]" />
        <CustomAction Id="UnregisterAddInCustomAction_SetValue" Property="UnregisterAddInCustomAction" Value="InstallFolder=[INSTALLFOLDER]" />
        <CustomAction Id="CopyInstallerCustomAction_SetValue" Property="CopyInstallerCustomAction" Value="InstallFolder=[INSTALLFOLDER];ProductCode=[ProductCode];OriginalDatabase=[OriginalDatabase]" />
        <CustomAction Id="DeleteInstallerCustomAction_SetValue" Property="DeleteInstallerCustomAction" Value="InstallFolder=[INSTALLFOLDER];ProductCode=[ProductCode];OriginalDatabase=[OriginalDatabase]" />
        <CustomAction Id="RegisterAddInCustomAction" BinaryKey="PowerPointArrangeAddinInstallerActionDll"
            DllEntry="RegisterAddIn" Execute="deferred" Impersonate="no" Return="check" />
        <CustomAction Id="UnregisterAddInCustomAction" BinaryKey="PowerPointArrangeAddinInstallerActionDll"
            DllEntry="UnregisterAddIn" Execute="deferred" Impersonate="no" Return="check" />
        <CustomAction Id="CopyInstallerCustomAction" BinaryKey="PowerPointArrangeAddinInstallerActionDll"
            DllEntry="CopyInstaller" Execute="deferred" Impersonate="no" Return="check" />
        <CustomAction Id="DeleteInstallerCustomAction" BinaryKey="PowerPointArrangeAddinInstallerActionDll"
            DllEntry="DeleteInstaller" Execute="deferred" Impersonate="no" Return="check" />
        <InstallExecuteSequence>
            <Custom Action="RegisterAddInCustomAction_SetValue" Before="RegisterAddInCustomAction" />
            <Custom Action="UnregisterAddInCustomAction_SetValue" Before="UnregisterAddInCustomAction" />
            <Custom Action="CopyInstallerCustomAction_SetValue" Before="CopyInstallerCustomAction" />
            <Custom Action="DeleteInstallerCustomAction_SetValue" Before="DeleteInstallerCustomAction" />
            <Custom Action="RegisterAddInCustomAction" Before="InstallFinalize">(NOT Installed) OR REINSTALL</Custom>
            <Custom Action="UnregisterAddInCustomAction" Before="RemoveRegistryValues">REMOVE = "ALL"</Custom>
            <Custom Action="CopyInstallerCustomAction" After="RegisterAddInCustomAction">UI_COPYINSTALLER AND (NOT Installed)</Custom>
            <Custom Action="DeleteInstallerCustomAction" After="RemoveFiles">UI_COPYINSTALLER AND (REMOVE = "ALL")</Custom>
        </InstallExecuteSequence>
    </Product>

    <!-- Define directories -->
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <!-- Program Files folder -->
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="ManufacturerFolder" Name="!(loc.Manufacturer)">
                    <Directory Id="INSTALLFOLDER" Name="!(loc.ShortName)">
                        <Directory Id="ja" Name="ja" />
                        <Directory Id="zh_Hans" Name="zh-Hans" />
                        <Directory Id="zh_Hant" Name="zh-Hant" />
                    </Directory>
                </Directory>
            </Directory>

            <!-- Program Menu folder -->
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="!(loc.FriendlyName)" />
            </Directory>
        </Directory>
    </Fragment>

    <!-- Define files -->
    <Fragment>
        <!-- Program File folder -->
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="PowerPointArrangeAddin.dll" Guid="4bee4e95-96f1-4df8-8357-4a07b19a44a5">
                <File Id="PowerPointArrangeAddin.dll" Name="PowerPointArrangeAddin.dll"
                    Source="$(var.Addin_TargetDir)PowerPointArrangeAddin.dll" />
            </Component>
            <Component Id="PowerPointArrangeAddin.dll.config" Guid="e5c78745-c1c3-4656-bc0c-6c5eb610b1f7">
                <File Id="PowerPointArrangeAddin.dll.config" Name="PowerPointArrangeAddin.dll.config"
                    Source="$(var.Addin_TargetDir)PowerPointArrangeAddin.dll.config" />
            </Component>
            <Component Id="PowerPointArrangeAddin.dll.manifest" Guid="52078cf1-86ec-4fbb-a163-f6da84b59092">
                <File Id="PowerPointArrangeAddin.dll.manifest" Name="PowerPointArrangeAddin.dll.manifest"
                    Source="$(var.Addin_TargetDir)PowerPointArrangeAddin.dll.manifest" />
            </Component>
            <Component Id="PowerPointArrangeAddin.vsto" Guid="ca3d56b9-906d-4763-a839-ae51e0ed96f6">
                <File Id="PowerPointArrangeAddin.vsto" Name="PowerPointArrangeAddin.vsto"
                    Source="$(var.Addin_TargetDir)PowerPointArrangeAddin.vsto" />
            </Component>
            <Component Id="Microsoft.Office.Tools.Common.v4.0.Utilities.dll" Guid="4046895d-6882-4def-9d80-190b2bfc9f50">
                <File Id="Microsoft.Office.Tools.Common.v4.0.Utilities.dll" Name="Microsoft.Office.Tools.Common.v4.0.Utilities.dll"
                    Source="$(var.Addin_TargetDir)Microsoft.Office.Tools.Common.v4.0.Utilities.dll" />
            </Component>
            <Component Id="Newtonsoft.Json.dll" Guid="8ebd29d8-ac61-4ea8-b502-89584f046905">
                <File Id="MNewtonsoft.Json.dll" Name="Newtonsoft.Json.dll"
                    Source="$(var.Addin_TargetDir)Newtonsoft.Json.dll" />
            </Component>
            <Component Id="Microsoft.WindowsAPICodePack.Core.dll" Guid="7dfe3f01-daca-4ebb-b857-5484d49f9bed">
                <File Id="Microsoft.WindowsAPICodePack.Core.dll" Name="Microsoft.WindowsAPICodePack.Core.dll"
                    Source="$(var.Addin_TargetDir)Microsoft.WindowsAPICodePack.Core.dll" />
            </Component>
            <Component Id="Microsoft.WindowsAPICodePack.Shell.dll" Guid="2202e29c-d680-41b8-b920-b122c1ace651">
                <File Id="Microsoft.WindowsAPICodePack.Shell.dll" Name="Microsoft.WindowsAPICodePack.Shell.dll"
                    Source="$(var.Addin_TargetDir)Microsoft.WindowsAPICodePack.Shell.dll" />
            </Component>
        </ComponentGroup>

        <!-- ja subfolder -->
        <ComponentGroup Id="ja_files" Directory="ja">
            <Component Id="ja_PowerPointArrangeAddin.resources.dll" Guid="abc3ee20-25fc-4e03-a1a4-c3e1ac9ec6dc">
                <File Id="ja_PowerPointArrangeAddin.resources.dll" Name="PowerPointArrangeAddin.resources.dll"
                    Source="$(var.Addin_TargetDir)ja\PowerPointArrangeAddin.resources.dll" />
            </Component>
        </ComponentGroup>

        <!-- zh_Hant subfolder -->
        <ComponentGroup Id="zh_Hant_files" Directory="zh_Hant">
            <Component Id="zh_Hant_PowerPointArrangeAddin.resources.dll" Guid="83dfe133-6988-4aac-8797-d2925eece49f">
                <File Id="zh_Hant_PowerPointArrangeAddin.resources.dll" Name="PowerPointArrangeAddin.resources.dll"
                    Source="$(var.Addin_TargetDir)zh-Hant\PowerPointArrangeAddin.resources.dll" />
            </Component>
        </ComponentGroup>

        <!-- zh_Hans subfolder -->
        <ComponentGroup Id="zh_Hans_files" Directory="zh_Hans">
            <Component Id="zh_Hans_PowerPointArrangeAddin.resources.dll" Guid="a4edf42a-ab78-41ec-b5b8-2deef6f76a3d">
                <File Id="zh_Hans_PowerPointArrangeAddin.resources.dll" Name="PowerPointArrangeAddin.resources.dll"
                    Source="$(var.Addin_TargetDir)zh-Hans\PowerPointArrangeAddin.resources.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>

    <!-- Define registry and files -->
    <Fragment>
        <!-- Registry items -->
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="ProductRegistryItems" Guid="8c795e15-228a-4620-b486-4068675f81ad">
                <RegistryKey Root="HKCU" Key="Software\AoiHosizora\PowerPointArrangeAddin">
                    <RegistryValue Name="Installed" Type="integer" Value="1" />
                    <RegistryValue Name="InstallFolder" Type="string" Value="[INSTALLFOLDER]" />
                    <RegistryValue Name="DllPath" Type="string" Value="[INSTALLFOLDER]PowerPointArrangeAddin.dll" />
                    <RegistryValue Name="ProductCode" Type="string" Value="[ProductCode]" />
                    <RegistryValue Name="ProductVersion" Type="string" Value="[ProductVersion]" />
                </RegistryKey>
            </Component>
        </DirectoryRef>

        <!-- Program Menu folder -->
        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ProductMenuShortcuts" Guid="aef7248c-7ecd-44ef-823f-e48aeb7585e9">
                <Condition>UI_CREATESHORTCUT</Condition>
                <!--
                    TODO https://stackoverflow.com/questions/63581670/wix-msi-uninstall-is-very-slow-log-shows-slowness-is-when-shortcuts-are-being

                    setup.exe /x - /L*vx! xxx.log

                    MSI (s) (68:B4) [01:20:34:146]: Executing op: ShortcutRemove(Name=XXX)
                    MSI (s) (68:B4) [01:20:34:150]: Verifying accessibility of file: XXX.lnk
                    MSI (s) (68:B4) [01:20:34:152]: Using source file security for destination.
                    MSI (s) (68:B4) [01:20:34:154]: Note: 1: 2318 2: C:\Config.Msi\369dd06.rbf 
                -->
                <util:InternetShortcut Id="Homepage_InternetShortcut" Name="!(loc.HomepageShortcutName)"
                    Target="https://github.com/Aoi-hosizora/PowerPointArrangeAddin" />
                <Shortcut Id="RepairProduct_Shortcut" Name="!(loc.RepairShortcutName)" Description="!(loc.RepairShortcutName)"
                    Target="[SystemFolder]msiexec.exe" Arguments="/i [ProductCode]" />
                <Shortcut Id="UninstallProduct_Shortcut" Name="!(loc.UninstallShortcutName)" Description="!(loc.UninstallShortcutName)"
                    Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]" />
                <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\AoiHosizora\PowerPointArrangeAddin" Name="Shortcut" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>