<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ppt_arrange_addin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ppt_arrange_addin.Properties.Settings>
            <setting name="showWordArtGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showReplacePictureGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showShapeTextboxGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showShapeSizeAndPositionGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showPictureSizeAndPositionGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>default</value>
            </setting>
        </ppt_arrange_addin.Properties.Settings>
    </userSettings>
</configuration>